{% extends "formula_app/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/raspored.css' %}?{% now 'U' %}">
{% endblock links %}

{% block content %}
<div class="content">

    {% for trka in trki %}
        <!-- <h1>{{ trka.drzava }}</h1> -->
        {% if trka.status == "Confirmed" or trka.status == "Complete" %}
        <a href="{% url 'app-traka-info' traka_id=trka.race_id %}" class="trka {{ trka.status }}">

            <!-- TODO namesto znaminja so trakcBackgrounds -->
            <img src="{% static 'formula_app/imgs/flags/spain.png' %}">
            
            <h1>{{ trka.ime }}</h1>
            <h3>{{ trka.pocetok }}</h3>
        </a>
        {% endif %}

    {% endfor %}
    
</div>
{% endblock content %}
