.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-bottom: 50px;
}

.otvorena-novost{
    width: 50vw;
    /* display: flex; */
    justify-content: center;
    flex-flow: column wrap;
    text-align: justify;
    margin-inline: 10vw 5vw;
    margin-block: 10px;
    font-size: 14px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(14px, 1.3vw);
}

.otvorena-novost > img{
    width: 100%;
    margin-block: 20px;
}

.otvorena-novost p{
    margin-block: 10px 40px;
}

.stanicni-vesti{
    width: 30vw;
}

.karticka{
    width: 23vw;
    height: min-content;
}


@media all and (max-width: 800px){
    .container{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .otvorena-novost{
        margin: 0;
        width: 90vw;
    }
    .stranicni-vesti{
        display: flex;
        width: 90vw;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    .karticka{
        display: inline-block;
        width: 15vw;
    }
}
