:root {
    --f1-crvena: #FF1801;
    --f1-temna: #FF3E2B;
    --off-white: #FAF9F6;
    --off-gray: rgb(32, 32, 32);

    --red-bull-racing-color: rgb(54, 113, 198);
    --ferrari-color: rgb(249, 21, 54);
    --mercedes-color: rgb(108, 211, 191);
    --mclaren-color: rgb(245, 128, 32);
    --alpine-color: rgb(34, 147, 209);
    --aston-martin-color: rgb(53, 140, 117);
    --alphatauri-color: rgb(94, 143, 170);
    --alfa-romeo-color: rgb(201, 45, 75);
    --williams-color: rgb(55, 190, 221);
    --haas-f1-team-color: rgb(182, 186, 189);
}

/* FONTOVI */
@font-face {
    font-family: f1-normal;
    src: url(../fonts/Formula1-Regular.otf);
}

@font-face {
    font-family: f1-normal;
    src: url(../fonts/Formula1-Bold.otf);
    font-weight: bold;
}
/* END FONTOVI */

.plasman-container{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-inline: 0;
    margin-block: 10px;
}

.plasman-vozaci{
    display: flex;
    flex-flow: column;
    font-size: 13px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(13px, 1.5vmax);
    margin: 0;
}

.drugio-font{
    font-family: f1-normal;
}

.p-vozac{
    display: flex;
    padding: 5px;
    margin-block: 10px;
    width: clamp(350px, 90%, 900px);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.1), 0 2px 3px 0 rgba(255, 255, 255, 0.1);
    border-radius: 0px 8px 8px 0px;
    background-color: #1e1e21;
    transition: all 0.3s ease;
    overflow: visible;
}

.p-vozac:hover{
    transform: scale(1.1);
}

.p-vozac:hover .zname{
    width: max(10%, 30px);
}

.slika-vozac{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-block: 1px;
    margin-right: 25px;
    width: max(78px, 17vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 14px;
    transition: all 0.2s ease;
}

.slika-vozac:hover{
    transform: scale(1.1);
}

.p-vozac>h2{
    font-size: 13px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(13px, 2vmax);
    margin-right: 0;
    margin-left: max(10px, 3%);
}

.vozac-ime-blok{
    margin-inline: 20px;
    margin-block: 5px;
    padding-left: max(10px, 3%);
    border-left: 5px solid;
}

.vozac-ime-blok>div:first-child{
    margin-bottom: 5px;
}

.zname{
    display: block;
    width: 0;
    border-radius: 4px;
    margin: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.zname:hover{
    transform: scale(1.3);
}

.poeni{
    min-width: 75px;
    margin-bottom: 2px;
    font-size: 20px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(11px, 1.3vmax);
    text-align: center;
    max-height: 30px;
    padding: 5px 8px;
    border-radius: 15px;
    color: black;
    background-color: rgb(233, 233, 233);
    transition: all 0.3s ease;
}

.slika-vozac:hover .poeni{
    height: 0px;
    font-size: 0px;
    padding: 0px;
}

.tim-slika{
    float: inline-end;
    width: 25%;
    transition: all 0.3s ease;
}

.tim-slika:hover{
    transform: scale(1.2);
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.65));
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.65));
}

/* boi po timovi */
.boja-Red-Bull-Racing{
    border-color: var(--red-bull-racing-color);
}

.boja-Ferrari{
    border-color: var(--ferrari-color);
}

.boja-Mercedes{
    border-color: var(--mercedes-color);
}

.boja-McLaren{
    border-color: var(--mclaren-color);
}

.boja-Alpine{
    border-color: var(--alpine-color);
}

.boja-Aston-Martin{
    border-color: var(--aston-martin-color);
}

.boja-AlphaTauri{
    border-color: var(--alphatauri-color);
}

.boja-Alfa-Romeo{
    border-color: var(--alfa-romeo-color);
}

.boja-Williams{
    border-color: var(--williams-color);
}

.boja-Haas-F1-Team{
    border-color: var(--haas-f1-team-color);
}



.text-boja-Red-Bull-Racing{
    color: var(--red-bull-racing-color);
}

.text-boja-Ferrari{
    color: var(--ferrari-color);
}

.text-boja-Mercedes{
    color: var(--mercedes-color);
}

.text-boja-McLaren{
    color: var(--mclaren-color);
}

.text-boja-Alpine{
    color: var(--alpine-color);
}

.text-boja-Aston-Martin{
    color: var(--aston-martin-color);
}

.text-boja-AlphaTauri{
    color: var(--alphatauri-color);
}

.text-boja-Alfa-Romeo{
    color: var(--alfa-romeo-color);
}

.text-boja-Williams{
    color: var(--williams-color);
}

.text-boja-Haas-F1-Team{
    color: var(--haas-f1-team-color);
}


@media screen and (max-width: 400px) {
    .slika-vozac{
        background-size: cover;
    }
}
