:root {
    --f1-crvena: #FF1801;
    --f1-temna: #FF3E2B;
    --off-white: #FAF9F6;
    --off-gray: rgb(32, 32, 32);
    --zelena: rgb(26, 201, 50);
}

.content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.trka{
    display: flex;
    flex-flow: column;
    overflow: wrap;
    /* min-width: 250px; */
    width: max(250px, 30%); 
    margin: 20px;
    /* padding-block: 12px; */
    /* padding-inline: 20px; */
    border-radius: 10px 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(12px, 1.1vw);
    color: white;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    filter: saturate(3);
    transition: all 0.5s ease;
}

.trka>img{
    margin-top: 15px;
    max-width: 35%;
    transition: transform .25s ease-in-out;
}

.trka:hover{
    filter: saturate(0);
    background-color: red;
}

.trka:hover>img{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.65));
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.65));
}

.trka-info{
    text-align: center;
    width: 100%;
    margin-block: 20px 0;
    padding: 5px 10px;
    border-radius: 0 0 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.Complete{
    border-top: 3px solid;
    margin-top: 17px;
    border-color: var(--off-gray);
}

.Confirmed{
    border-top: 3px solid;
    margin-top: 17px;
    border-color: var(--zelena);
}
