:root {
    --f1-crvena: #FF1801;
    --f1-temna: #FF3E2B;
    --off-white: #FAF9F6;
}

.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
    background-color: rgb(41, 46, 53);
}

.line-info{
    justify-self: left;
    margin: 0;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(12px, 1.4vmax);
}

.line-info>h2{
    display: inline-block;
    font-size: 12px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(12px, 1.85vmax);
}

.content > h1{
    margin-top: 20px;
    font-size: 12px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(12px, 2.4vmax);
}

.staza{
    width: 95vmin;
    padding: 20px;
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.65));
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.65));
    background-color: rgb(55, 61, 70);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.info-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 25px;
    font-size: 12px; /* za fallback ako toa dole ne rabote na nekoj browser */
    font-size: max(12px, 1.2vw);
}

.tekst-info{
    width: 30vw;
    padding: 20px;
    background-color: rgb(55, 61, 70);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Sesii */
.sesii-info{
    width: 85vw;
    padding: 20px;
    background-color: rgb(55, 61, 70);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.sesija{
    padding-block: 5px;
}

.sesija:nth-child(even){
    background-color: rgb(43, 48, 54);
}

.sesija:nth-child(odd){
    background-color: rgb(55, 61, 70);
}

.sesija > span:first-child{
    margin-left: 8%;
}

.sesija > span:nth-child(2){
    float: right;
    margin-right: 8%;
}
/* End sesii */

.gumi-wrapper{
    margin-block: 30px;
    padding: 10px;
    background-color: rgb(55, 61, 70);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
}

.gumi{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-block: 20px;
}

.gumi>img{
    width: 12vmax;
    margin-inline: 1vw;
}
