{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/side-nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/scrollbar.css' %}">
    <script src="{% static 'formula_app/js/sideNav.js' %}"></script>
    <script src="{% static 'formula_app/js/stickyNavbar.js' %}"></script>
    {% block links %}{% endblock %}
    <title>Формула 1</title>
</head>

<body id="body">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'formula_app:app-odbrojuvanje' %}" class="nav-but">ОДБРОЈУВАЊЕ</a>
        <a href="{% url 'formula_app:app-novosti' %}" class="nav-but">НОВОСТИ</a>
        <a href="{% url 'formula_app:app-plasman' %}" class="nav-but">ПЛАСМАН</a>
        <a href="{% url 'formula_app:app-raspored' %}" class="nav-but">РАСПОРЕД</a>
        <a href="{% url 'chatapp:chatapp-gledaj' %}" class="nav-but">ПРЕНОС ВО ЖИВО</a>
    </div>

    <header id="header">
        <div class="menu-icon" onclick="openNav()">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>

        <h2 id="traka">Следна трка: {{ sledna_trka.ime }} </h2>
        <div class="menu-icon" style="display: none;" onclick="openNav()">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>