{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/novosti.css' %}?{% now 'U' %}">
{% endblock links %}

{% block content %}
<div class="vesti" id="vesti">
    {% for vest in veesti %}

    <a class="karticka" href="{% url 'formula_app:app-otvorena-novost' novost_naslov=vest.naslov %}">
        <img src="{{ vest.slika }}">
        <h2>{{ vest.naslov }}</h2>
        <p>{{ vest.privju }}</p>
    </a>
    {% endfor %}

</div>
{% endblock content %}