{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/novosti.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/otvorena-vest.css' %}">
{% endblock links %}

{% block content %}
    <div class="container">
        <div class="otvorena-novost">
            <img src="{{ novost.slika }}">
    
            <h2>{{ novost.naslov }}</h2>
    
            <p>{{ novost.tekst }}</p>
        </div>
    
        <div class="stranicni-vesti">
            {% for vest in vesti %}
                <a class="karticka" href="{% url 'formula_app:app-otvorena-novost' novost_naslov=vest.naslov %}">
                    <div class="slika-container">
                        <img src="{{ vest.slika }}">
                    </div>
                    <h2>{{ vest.naslov }}</h2>
                    <p>{{ vest.privju }}</p>
                </a>
            {% endfor %}
        </div>
    </div>

{%  endblock content %}