{% extends "base.html" %}
{% load static %}
{% load formatter %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/raspored.css' %}?{% now 'U' %}">
{% endblock links %}

{% block content %}
<div class="content">

    {% for trka in trki %}
        {% if trka.status == "Confirmed" or trka.status == "Complete" %}
        <a href="{% url 'formula_app:app-traka-info' traka_id=trka.race_id %}" class="trka {{ trka.status }}" 
        style="background-image: url({% static trka.pozadina_slika %});">
        <img src="{% static trka.staza_slika %}">
            
            <div class="trka-info">
                <h1>{{ trka.ime }}</h1>
                <h3>{{ trka.pocetok }}</h3>
            </div>
        </a>
        {% endif %}

    {% endfor %}
    
</div>
{% endblock content %}
