{% extends "base.html" %}
{% load static %}
{% load formatter %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'formula_app/css/traka-info.css' %}">
{% endblock links %}

{% block content %}
<div class="content">
    <div class="line-info" id="line-info">
        <h1>Formula One {{ traka.ime }}</h1>
        <h2> {{traka.drzava }}</h2>
    </div>
    <h1><span>Тркачка патека:</span> {{ traka.staza }}</h1>
    <img class="staza" src="{% static traka.staza_slika %}">

    <div class="info-wrapper">
        <!-- <div class="tekst-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quasi voluptatem quaerat
            vero dolorem totam. Numquam perferendis quaerat ea odio optio omnis corrupti, cupiditate est ut. Deleniti
            atque quod sed.</div> -->
        <div class="sesii-info">
            {% for sesija in traka.sesii.all|dictsort:"datum" %}
            <div class="sesija">
                <span>{{ sesija.ime|prevedi }} </span> <span>{{sesija.datum|date:'H:i' }} {{sesija.datum|date:'D'|prevedi }}</span>
            </div>
            {% endfor %}
        </div>

        <div class="gumi-wrapper">
            <h2>На располагање</h2>
            <div class="gumi">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/F1_tire_Pirelli_PZero_Red.svg/512px-F1_tire_Pirelli_PZero_Red.svg.png" alt="Red">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/F1_tire_Pirelli_PZero_Yellow.svg/512px-F1_tire_Pirelli_PZero_Yellow.svg.png" alt="Yellow">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/F1_tire_Pirelli_PZero_White.svg/512px-F1_tire_Pirelli_PZero_White.svg.png" alt="White">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/F1_tire_Pirelli_Cinturato_Green.svg/512px-F1_tire_Pirelli_PZero_Green.svg.png" alt="Green">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/F1_tire_Pirelli_Cinturato_Blue.svg/512px-F1_tire_Pirelli_PZero_Blue.svg.png" alt="Blue">
            </div>
        </div>
    </div>
</div>

<script>
  window.onload = function(){
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};
    
    // Get the header
    const lineInfo = document.getElementById("line-info");
    
    // Get the offset position of the navbar
    var sticky = lineInfo.offsetTop;
    
    // Add the sticky class to the lineInfo when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
      if (window.pageYOffset > sticky) {
        lineInfo.classList.add("sticky");
      } else {
        lineInfo.classList.remove("sticky");
      }
    }
    
}
</script>
{% endblock content %}